<div class="mt-16">
  <table id="search-table">
    <thead>
      <tr>
        <th>
          <span class="flex items-center"> USERNAME </span>
        </th>
        <th>
          <span class="flex items-center"> FULL NAME </span>
        </th>

        <th>
          <span class="flex items-center"> AMOUNT </span>
        </th>

        <th>
          <span class="flex items-center"> PHONENUMBER </span>
        </th>
        <th>
          <span class="flex items-center"> STATUS </span>
        </th>
        <th>
          <span class="flex items-center"> DATE </span>
        </th>
        <th>
          <span class="flex items-center"> VERIFY </span>
        </th>

      </tr>
    </thead>

<tbody>
  <ng-container *ngFor="let items of refWithdrawDetails">
    <tr *ngIf="items.status === 'PENDING'">
      <td>{{ items.username }}</td>
      <td>{{ items.transactionId ?? 'not found' }}</td>
      <td>{{ items.amount  }}</td>
      <td>{{ items.phoneNumber }}</td>
      <td>
        <span
          class="inline-flex items-center bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full
                 dark:bg-red-900 dark:text-red-300"
        >
          <span class="w-2 h-2 bg-red-500 rounded-full me-1"></span>
          Pending
        </span>
      </td>
      <td>{{ items.withdrawalDate }}</td>
      <td>
        <a
          href="/ref-verify-withdraw/{{ items.id }}"
          class="w-36 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300
                 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700
                 dark:focus:ring-blue-800"
        >
          Verify
        </a>
      </td>
    </tr>
  </ng-container>
</tbody>


  </table>
</div>
