<div class="mt-24 grid grid-cols-1 md:grid-cols-2 xl:grid-cols-2 gap-8 px-4">
  <!-- Reusable Card -->
  <div class="bg-gradient-to-br from-blue-800 to-blue-700 shadow-xl rounded-2xl p-6">
    <div class="text-white text-center space-y-2">
      <p class="text-sm font-medium uppercase tracking-wider">Total Users</p>
      <h2 class="text-4xl font-bold">{{ allUsers?.length }}</h2>
    </div>
  </div>

  <div class="bg-gradient-to-br from-blue-800 to-blue-700 shadow-xl rounded-2xl p-6">
    <div class="text-white text-center space-y-2">
      <p class="text-sm font-medium uppercase tracking-wider">Total Deposit Balance</p>
      <h2 class="text-4xl font-bold">TSH {{ totaldeposit.toFixed(2) }}</h2>
    </div>
  </div>





  <div class="bg-gradient-to-br from-blue-800 to-blue-700 shadow-xl rounded-2xl p-6">
    <div class="text-white text-center space-y-2">
      <p class="text-sm font-medium uppercase tracking-wider">Total Withdraw</p>
      <h2 class="text-4xl font-bold">{{ withdrawDetails?.length }}</h2>
    </div>
  </div>


  <div class="bg-gradient-to-br from-blue-800 to-blue-700 shadow-xl rounded-2xl p-6">
    <div class="text-white text-center space-y-2">
      <p class="text-sm font-medium uppercase tracking-wider">Referrals Withdraw</p>
      <h2 class="text-4xl font-bold">{{ refwithdrawDetails?.length }}</h2>
    </div>
  </div>

  <div class="bg-gradient-to-br from-blue-800 to-blue-700 shadow-xl rounded-2xl p-6">
    <div class="text-white text-center space-y-2">
      <p class="text-sm font-medium uppercase tracking-wider">Total Referrals Withdraw Amount</p>
      <h2 class="text-2xl font-bold">TSH {{ totalreferralswithdraw.toFixed(2) }}</h2>
    </div>
  </div>

  <div class="bg-gradient-to-br from-blue-800 to-blue-700 shadow-xl rounded-2xl p-6">
    <div class="text-white text-center space-y-2">
      <p class="text-sm font-medium uppercase tracking-wider">Pending Deposits</p>
      <h2 class="text-4xl font-bold">{{ userdeposits?.length }}</h2>
    </div>
  </div>

  <div class="bg-gradient-to-br from-blue-800 to-blue-700 shadow-xl rounded-2xl p-6">
    <div class="text-white text-center space-y-2">
      <p class="text-sm font-medium uppercase tracking-wider">Pending Deposit Amount</p>
      <h2 class="text-2xl font-bold">TSH {{ totalpendingdeposit.toFixed(2) }}</h2>
    </div>
  </div>

  <div class="bg-gradient-to-br from-blue-800 to-blue-700 shadow-xl rounded-2xl p-6">
    <div class="text-white text-center space-y-2">
      <p class="text-sm font-medium uppercase tracking-wider">Pending Referrals Withdraw</p>
      <h2 class="text-4xl font-bold">{{ pendingrefwithdrawDetails?.length }}</h2>
    </div>
  </div>

  <div class="bg-gradient-to-br from-blue-800 to-blue-700 shadow-xl rounded-2xl p-6">
    <div class="text-white text-center space-y-2">
      <p class="text-sm font-medium uppercase tracking-wider">Pending Referrals Withdraw Amount</p>
      <h2 class="text-2xl font-bold">TSH {{ totalpendingreferralswithdraw.toFixed(2) }}</h2>
    </div>
  </div>

  <div class="bg-gradient-to-br from-blue-800 to-blue-700 shadow-xl rounded-2xl p-6">
    <div class="text-white text-center space-y-2">
      <p class="text-sm font-medium uppercase tracking-wider">Pending Activities Withdraw</p>
      <h2 class="text-4xl font-bold">{{ pendingwithdrawDetails?.length }}</h2>
    </div>
  </div>

  <div class="bg-gradient-to-br from-blue-800 to-blue-700 shadow-xl rounded-2xl p-6">
    <div class="text-white text-center space-y-2">
      <p class="text-sm font-medium uppercase tracking-wider">Activities Withdraw Amount</p>
      <h2 class="text-2xl font-bold">TSH {{ totalpendingwithdraw.toFixed(2) }}</h2>
    </div>
  </div>
</div>
