<div class="mt-16">
  <table id="search-table">
    <thead>
      <tr>
        <th>
          <span class="flex items-center"> USERNAME </span>
        </th>


        <th>
          <span class="flex items-center"> AMOUNT </span>
        </th>

        <th>
          <span class="flex items-center"> PHONENUMBER </span>
        </th>
        <th>
          <span class="flex items-center"> STATUS </span>
        </th>
        <th>
          <span class="flex items-center"> DATE </span>
        </th>

      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let items of refWithdrawDetails">
        <td>{{ items.username }}</td>
        <td>{{ items.amount }}</td>
          <td>{{ items.wallet ?? "Not Found" }}</td>
        <td>
          <span
            *ngIf="items.status === 'PENDING'"
            class="inline-flex items-center bg-red-100 text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300"
          >
            <span class="w-2 h-2 bg-red-500 rounded-full me-1"></span>
            Pending
          </span>

          <span
            *ngIf="items.status === 'PAYED'"
            class="inline-flex items-center bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300"
          >
            <span class="w-2 h-2 bg-green-500 rounded-full me-1"></span>
            Confirmed
          </span>
        </td>
        <td>{{ items.withdrawalDate }}</td>

      </tr>
    </tbody>
  </table>
</div>
